absl-py
annotated-types
anyio
astunparse
cachetools
certifi
charset-normalizer
click
fastapi
filelock
flatbuffers
fsspec
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httplib2
idna
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mpmath
msgpack
namex
networkx
numpy
nvim-remote
opt-einsum
optree
packaging
pillow
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pynvim
pyparsing
python-dotenv
python-multipart
requests
rich
rsa
setuptools
six
sniffio
starlette
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
torch
tqdm
typing_extensions
uritemplate
urllib3
uvicorn
Werkzeug
wheel
wrapt